
<div id="<%= @question.id %>">
	<p>Pregunta: <%= @question.question %></p>
	<ul>
	  <li>Opción 1: <%= @option1.option %></li>
	  <li>Opción 2: <%= @option2.option %></li>
	  <li>Opción 3: <%= @option3.option %></li>
	</ul>
</div>