<% if @errors %>
  <p><%= @errors %></p>
<% end %>

<div align="center">
	<h2><%= @survey.title %></h2>
  <form name="myform" action="/user/<%= @user.id %>/survey/<%= @survey.id %>/question/option" method="POST">
   <br><br>

   <% @questions.each do |question| %>
     <h4><%= question.question %></h4>
	   <% @options.where(question_id: question.id).each do |option| %>
	      
	      <% if option.option != "" %>
          <input type ="radio" name="option[<%= question.id %>]" value="<%= option.id %>"><%=option.option %>
        <% end %>
     <br>
	   <% end %>

  <% end %>
  <br><br>
  <input type="submit" value="Save" id="submit">
  </form>
</div>